body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
    background-color: lightgray;
    margin: 0px;
    font-size: 18px;
    padding: 10px;
}

li {
    margin-bottom: 5px;
}

.block {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
}

.iconZoom {
    display: inline;
    margin-bottom: -15px;
}

.iconYoutube {
    display: inline;
    margin-bottom: -10px;
}

h1, h2, h3 {
    display: inline;
    margin-left: 10px;

}
